{% block content %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Регистрация</title>
<form class="vh-100 gradient-custom" method="POST">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white"
        style="
        border-radius: 1rem;
        background: rgb(86, 83, 144);
        background: linear-gradient(
         90deg,
          rgba(86, 83, 144, 1) 0%,
          rgba(99, 96, 207, 1) 23%,
          rgba(52, 63, 106, 1) 100%
        );">
          <a class="btn text-start mt-2" href="/login" style="margin-left: 15; width:fit-content; color:white; outline: 2px solid rgb(86, 83, 144);">Попробовать войти</a>
          <div class="card-body p-5 text-center">
            <div class="md-5 mt-md-4 pb-1">
              <h2 class="fw-bold mb-4 text-uppercase">Форма регистрации</h2>
              <p class="text-white-50 mb-5">Пожалуйста, заполните поля!</p>
              {% if message %}
              <div class="alert alert-danger">
                {{ message }}
              </div>
              {% endif %}
              <label class="form-label" for="typeLoginX">Логин</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="login"
                  value="{{ regData[0] }}"
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(придумайте свой логин, на любом языке)</label>
              </div>

              <label class="form-label" for="typeLoginX">ФИО</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="name"
                  value="{{ regData[2] }}"
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(укажите ФИО собственника)</label>
              </div>

              <label class="form-label" for="typeLoginX">Телефон</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="phone"
                  value="{{ regData[3] }}"
                  onkeypress='validate(event)'
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(укажите свой номер телефона в формате 89991234567)</label>
              </div>

              <label class="form-label" for="typeLoginX">Электронная почта</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="email"
                  value="{{ regData[4] }}"
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(на этот адрес будут приходить различные уведомления и ответы на вопросы)</label>
              </div>

              <label class="form-label" for="typeLoginX">Населённый пункт</label>
              <div class="form-outline form-white mb-4">
                <select class="form-control" name="city">
                  <option value="-" >-</option>
                  {% for reg in regions %}
                  <option value="{{ reg[0] }}" {% if reg[0] == regData[5] %} selected {% endif %}>
                    {{ reg[0] }}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <label class="form-label" for="typeLoginX">Адрес проживания</label>
              <div class="form-outline form-white mb-3">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="address"
                  value="{{ regData[6] }}"
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(улица, дом, квартира)</label>
              </div>

              <label class="form-label" for="typeLoginX">Номер лицевого счёта</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  name="account"
                  value="{{ regData[7] }}"
                  onkeypress='validate(event)'
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(можете узнать его по тел. +7 924 711-12-27)</label>
              </div>

              <label class="form-label" for="typePasswordX">Пароль</label>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  name="pass"
                  class="form-control form-control-lg"
                  value="{{ regData[1] }}"
                />
                <label
                class="form-label"
                style="color: rgb(200, 200, 200); font-size: 10px"
                >(придумайте свой пароль)</label>
              </div>
              <div class="form-check">
                <input id="check" type="checkbox" name="check" class="form-check-input">
                <label class="form-check-label" for="check">
                  Я согласен на <a href="/policy" style="color: orange">обработку персональных данных</a>
                </label>
              </div>
              </div>
              <div class="d-flex flex-column">
                <button class="btn btn-success btn-lg px-5 mt-2" type="submit">
                  Регистрация
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  function validate(evt) {
    var theEvent = evt || window.event;

    if (theEvent.type === 'paste') {
        key = event.clipboardData.getData('text/plain');
    } else {
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
    }
    var regex = /[0-9]/;
    if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
</script>

{% endblock %}
